  img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    padding: 15px;
  }

.buy {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
  }

body {
    text-align: right;
}


