.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 50rem;
    padding: 2.5rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.signup-form {
    background-color: rgba(13,36,60, 0.83);
    backdrop-filter: blur(2px);
}

.login-form {
    background-color: rgba(104, 11, 44, 0.83);
    backdrop-filter: blur(2px);
}


.signup-submit {
    background-color: #680B2C;
    color: white;
}

.login-submit {
    background-color: #0D243C;
    color: white;
}

input {
    background-color: #D9D9D9;
    border-style: none;
    padding: 0.25rem;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Judson', serif;
}

.form-help {
    color: white;
    text-decoration: none;
}

.form-help:hover {
    text-decoration: underline;
}

.form-header {
    font-family: 'Jacques Francois Shadow', serif;
    color: white;
    font-size: 36px;
}

p {
    margin-top: 0.25rem;
    margin-bottom: 0px;
    color: white;
    text-align: left;
}

label {
    color: white;
    font-family: 'Judson', serif;
}

.input-div {
    text-align: left;
}

#signup-first-name {
    background-color: rgba(255,255,255,1);
}

#signup-last-name {
    background-color: rgba(255,255,255,1);
}

#signup-email {
    background-color: rgba(255,255,255,1);
}

#signup-password {
    background-color: rgba(255,255,255,1);
}