.navbar {
    background-color: rgba(64, 13, 31, .8);
    padding-bottom: 3px;
    font-size: large;
    backdrop-filter: blur(3px);
}

a {
    align-items: center;
    padding: 15px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto; 
    margin-right: 10px; 
}


/*#login {
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}*/

