.navbar {
    background-color: rgba(64, 13, 31, .5);
    padding-bottom: 3px;
    font-size: large;
    
}

a {
    align-items: center;
    padding: 15px;
}



#login {
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

