.navbar {
    background-color: rgba(64, 13, 31, .8);
    padding-bottom: 3px;
    font-size: large;
    backdrop-filter: blur(3px);
}

a {
    align-items: center;
    padding: 15px;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: x-large;
}

.logo {
    width: 70px;
    height: auto; 
    margin-right: 10px;     
}

.Navlink {
    color: white; 
    padding: 0 40px; 
}

.Navlink:hover {
    transform: scale(1.1); 
}

.socialsbox {
        display: flex;
        margin-left: 50px;
}
.nav-links {
    margin-left: 50px;
    display: flex;
    margin-bottom: 10px;
    justify-content:center;
}

.socials:hover {
    transform: scale(1.2); 
}